/*============= HEADER ====================*/

/*============= PERSONAL STATEMENT======== */
.work {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.4s ease-in-out;
  /* background-color: #fd424b; */
  width: 60vw;
}
.whlTitle {
  font-size: 4rem;
  color: var(--color-primary-darker);
  /* background-color: #413e3e; */
}

.wlBody {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 5em 0 2em;
  /* background-color: #ff9800; */
}
.wTitle {
  font-size: 2em;
  font-weight: 900;
  color: var(--color-primary-2);
}

.workRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  color: var(--color-primary-opacity);
  width: 40vw;
  box-shadow: -5px -5px 10px #bfbfbf;
}

.wpList {
  /* background-color: #ff9800; */
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary-opacity);
}
.wpList li {
  width: 100%;
  /* background-color: #444; */
  animation: dissolveInRight 1s ease 200ms;
  margin: 0.2rem;
}
.wpList li :hover {
  color: var(--color-primary-darker);
  /* font-size: 105%; */
  transition: all 0.2s ease-in-out;
  text-decoration-line: underline;
  text-decoration-color: var(--color-secondary);
}
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes dissolveInRight {
  0% {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* ------scrolling ----- */

.navShrink {
  height: 25%;
  font-size: 0.5rem;
  position: fixed;
  margin: 0.2rem;
  /* top: 1em; */
  right: 0;
  width: 9%;
  /* padding: 2em 2em 0 0; */
  background-color: var(--color-primary-5);
  margin: 0.5em;
  z-index: 1;
  animation: drop-in 1000ms ease 500ms backwards;
  /* text-align: center; */
  display: flex;
  box-shadow: none;
  align-items: top;
  justify-content: flex-start;
  /* flex-direction: column; */
}
.heroHome {
  color: var(--color-primary-darker);
  margin: 3rem;
  /* background-color: #413e3e; */
}
.heroHome:hover {
  color: var(--color-primary-2);
  font-size: 2.5rem;
  margin: 2.4rem;
  transition: all 0.2s ease-in-out;
  /* background-color: #413e3e; */
}

.homes {
  /* background-color: aqua; */
  /* text-align: center;
  width: 90%;
  height: 15%;
  display: flex; */
  /* flex-direction: row; */
  margin: 0.1rem;
  transition: all 0.2s ease-in-out;
}
.homes:hover {
  font-size: 2rem;
  color: var(--color-primary-2);
  box-shadow: 6px 6px 5px #b8b8b8;
}

.up:hover {
  font-size: 2rem;
  color: var(--color-primary-2);
  box-shadow: 6px 6px 5px #b8b8b8, -6px -6px 5px #ffffff;
}
.navscrolinks {
  height: 80%;
  width: 90%;
  /* background-color: #413e3e; */
  /* box-shadow: inset 5px 5px 4px #d5d5d5, inset -5px -5px 4px #ffffff; */
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#homes {
  visibility: hidden;
  /* color: red; */
}
#up {
  visibility: hidden;
  /* color: rgb(13, 212, 103); */
}
.trials32 {
  transition: width 0.6s ease-in-out;
  width: 100vw;
}
#top {
  display: none;
}
.active {
  /* Customize styling for the current section's link */
  /* background-color: red; */
  box-shadow: 6px 6px 5px #b8b8b8, -6px -6px 5px #ffffff;
  margin: 0.2rem;
  width: 100%;
  color: #444;
  /* font-size: 1rem; */
  transition: all 0.9s ease-in-out;
  text-decoration-line: underline;
  text-decoration-color: var(--color-secondary);
  /* Add any other desired styles like font-weight, border, etc. */
}

/* ================ */

.whSlider {
  background: linear-gradient(#0000009d, #44444459), url(/img/e4i.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.wsSlider {
  background-image: linear-gradient(#0000009d, #44444434), url(/img/e4isld.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.wpSlider {
  background-image: linear-gradient(#0000009d, #44444434), url(/img/mppsld2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* work section */
/* ===================SKILLS SECTION============== */
/* ============================================== */
.pfsLeft {
  background-color: var(--color-primary-2);
}
.pfslSide {
  height: 100vh;
  width: 19.1%;
  /* background-color: #ffb003; */
}
.pfslMain {
  display: flex;
  flex-direction: column;
}
.skillHeader {
  height: 40vh;
  align-items: top;
  flex-direction: column;
}

.gallery-filter {
  /* padding: 0 15px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* margin-bottom: 20px; */
}
.gallery-filter .filter-item {
  color: var(--color-primary-5);
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
  /* display: inline-block; */
  margin: 0 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  line-height: 1.2;
  transition: all 0.3s ease;
}
.gallery-filter .filter-item.activ {
  /* color: #ff9800; */
  font-size: 130%;
  font-weight: 400;
  border-color: #ff9800;
}
.gallery-item.show {
  animation: zoomIn 0.8s ease;
}

.gallery-item.hide {
  display: none;
}
.pfsrMain {
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  width: 80%;
  /* background-color: #f5f5f5; */
  /* background-color: #032aff; */
}

.wsCard {
  width: 16rem;
  height: 22rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  box-shadow: 20px 20px 60px #d0d0d0;
}

.wscSide {
  width: 20%;
  color: #fd424b;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 2rem;
  /* line-height: 1; */
  font-weight: 550;
  /* padding: 0.1rem; */
  font-variation-settings: 'wdth' 35, 'YTFI' 788;
  background-color: #fff;
}
.wscMain {
  background-color: var(--color-primary-5);
  width: 80%;
  /* padding-left: 1rem; */
  display: flex;
  align-items: center;

  list-style-position: inside;
}
/* =========PROCESS SECTION==============  */
/* ====================================== */

.smProcess img {
  object-fit: contain;

  width: 80%;
}

/* ===============Projects ============== */
/* ====================================== */
.wProjects {
  height: 100vh;
}
.wpmMain {
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.wpsSide {
  height: 100%;
  background-color: #f5f5f5;
}
.wpsMain {
  height: 100vh;
}
.wpsTitle {
  /* background-color: aquamarine; */
  height: 40vh;
}
.wpsCategories {
  /* margin-top: 4rem; */
  height: 60vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: inherit;
  /* background-color: #e2dfdf; */
  font-variation-settings: 'wdth' 35, 'YTFI' 788;
  text-decoration-line: underline;
  text-decoration-color: var(--color-secondary-darker);
}
.wpsCategories li {
  list-style: none;
  font-size: 120%;
}

.wpcSection {
  width: 85%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-evenly; */
  overflow: hidden;
  color: var(--color-primary-2);
  /* background-color: #444; */
}
.wpCard {
  width: 45%;
  height: 13rem;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  color: #444;
  box-shadow: 20px 20px 60px #d0d0d0;
}
.cardSide {
  background-color: #fafcfa;
  display: flex;
  flex-direction: row;
  /* padding-left: 2rem; */
  width: 40%;
}
.csSide {
  width: 10%;
  background-color: #fff;
}
.csMain {
  /* background-color: #444; */
  width: 100%;
  color: #444;
}
.wpcTitle {
  font-size: 1.8rem;
  background-color: #fff;
  width: 100%;
  height: 20%;
}
.wpcRole {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 1.5rem;
  color: #444;
  font-size: 0.9rem;
  font-weight: 300;
}
.wpcRolelist {
  /* background-color: #0099cc; */
  font-size: 0.7rem;
  /* padding-left: 0.2rem; */
}
/* =========== */
.cardMain {
  width: 60%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #444; */
}
.cmInd {
  /* background-color: #c21717; */
  width: 100%;
  height: 12%;
  /* text-align: center; */
  justify-self: flex-end;
  align-self: end;
}
.cardModal {
  height: 88%;
  width: 100%;
  /* background-color: var(--color-primary-3-opacity); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardModal:hover {
  /* background-color: transparent; */
  transition: all 0.4s ease-in-out;
}
.modalBtn {
  /* display: none; */
  /* background-color: var(--color-primary-3); */
  height: fit-content;
  border: 1px solid var(--color-primary-5);
  width: fit-content;
  padding: 0.51em;
  font-size: 0.9rem;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: #f5f5f5;
}
.modalBtn:hover {
  /* display: block; */
  flex-grow: 0.3;
  /* transition: all 0.4s ease-in-out; */
  transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);

  font-size: 110%;
  font-weight: 400;
  width: fit-content;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
/* ========== */
/* -----EACH  CARD ----- */
/* -----E4I------------- */
.csE4i {
  background-color: var(--color-primary-2);
}
.e4Bg {
  background-image: url(/img/e4i.jpg);
}

.e4Title {
  color: var(--color-primary);
}

.e4Ind {
  background-color: var(--color-primary-2);

  color: #fafcfa;
}
.e4iModal:hover {
  background-color: var(--color-primary-opacity);
}
.e4imodalBtn:hover {
  background-color: var(--color-primary);
}
/* --modal-- */
.e4iMh {
  background-color: var(--color-primary);
  color: var(--color-primary-5);
}
.e4iSH {
  text-decoration-color: var(--color-primary);
}
/* ------ FFA -------- */
.csFfa {
  background-color: #444;
}
.ffaTitle {
  color: var(--color-secondary-darker);
}
.ffaInd {
  background-color: #444;
  color: var(--color-secondary-darker);
}
.ffaBg {
  background-image: url(/img/ffabg.JPG);
}
.ffaModal:hover {
  background-color: #00000034;
}
.ffamodalBtn {
  background-color: #4444448c;
  color: var(--color-secondary-darker);
}
.ffamodalBtn:hover {
  background-color: var(--color-secondary-darker);
  color: #444;
}
/* -modals */
.ffaMh {
  background-color: #444;
  color: var(--color-secondary-darker);
}
.ffaSH {
  text-decoration-color: var(--color-secondary-darker);
}
/* -------MPP-------- */
.csMpp {
  background-color: var(--color-primary-3);
}
.mppTitle {
  color: var(--color-primary-3);
}
.mppInd {
  background-color: var(--color-primary-3);
  color: #fafcfa;
}
.mppBg {
  background-image: url(/img/mppbg.jpg);
}
.mppModal:hover {
  background-color: var(--color-primary-3-opacity);
}
.mppmodalBtn {
  background-color: var(--color-primary-3-opacity);
}
.mppmodalBtn:hover {
  background-color: var(--color-primary-3);
}
/* --modal-- */
.mppMh {
  background-color: var(--color-primary-3);
  color: var(--color-primary-5);
}
.mppSH {
  text-decoration-color: var(--color-primary-3);
}
/* ------- DDI---------- */
.csDdi {
  background-color: var(--color-secondary-darker);
}
.ddiTitle {
  color: var(--color-secondary);
}
.ddiInd {
  background-color: var(--color-secondary-darker);
  color: #fafcfa;
}
.ddiBg {
  background-image: url(/img//ddi.jpg);
}
.ddiModal:hover {
  background-color: var(--color-secondary-opacity);
}
.ddimodalBtn {
  background-color: var(--color-secondary-opacity);
}
.ddimodalBtn:hover {
  background-color: var(--color-secondary);
  /* color: var(--color-primary-5); */
}
/* --modal */
.ddiMh {
  background-color: var(--color-secondary);
  color: var(--color-primary-5);
}
.ddiSH {
  text-decoration-color: var(--color-secondary);
}
/* ------- spc---------- */
.csSpc {
  background-color: var(--color-primary-4);
}
.spcTitle {
  color: var(--color-primary-4);
}
.spcInd {
  background-color: var(--color-primary-4);
  color: #fafcfa;
}
.spcBg {
  background-image: url(/img/spc.jpg);
}
.spcModal:hover {
  background-color: var(--color-primary-4-opacity);
}

.spcmodalBtn:hover {
  background-color: var(--color-primary-4);
}
/* --modal */
.spcMh {
  background-color: var(--color-primary-4);
  color: var(--color-primary-5);
}
.spcSH {
  text-decoration-color: var(--color-primary-4);
}
/* ------- dad---------- */
.csDad {
  background-color: var(--color-tertiary-darker);
}
.dadTitle {
  color: var(--color-tertiary);
}
.dadInd {
  background-color: var(--color-tertiary-darker);
  color: #fafcfa;
}
.dadBg {
  background-image: url(/img/niad.jpg);
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
.dadModal:hover {
  background-color: var(--color-tertiary-darker-opacity);
}
.dadmodalBtn:hover {
  background-color: var(--color-tertiary-darker);
}
/* --modal */
.dadMh {
  background-color: var(--color-tertiary-darker);
  color: var(--color-primary-5);
}
.dadSH {
  text-decoration-color: var(--color-tertiary-darker);
}
/* ==========MODALS========== */
/* ========================== */
/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 1%;
  left: 20%;
  overflow: scroll;
  height: 95vh;
  width: 60rem;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  /* transition: all 0.5s; */
  transition: all 0.9s cubic-bezier(0.87, 0, 0.13, 1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modalHeader {
  font-size: 1.8rem;
  /* margin-bottom: 4.5rem; */
  line-height: 1.5;
  width: 100%;
  /* background-color: #0099cc; */
  /* padding: 0 0 0 2rem; */
  display: flex;
  flex-direction: row;
}
.modalmainTitle {
  width: 90%;
  padding: 2rem;
  /* background-color: #f3f3f3; */
}
.modalcloseBtn {
  width: 10%;
  /* background-color: #fd424b; */
  /* position: fixed; */
  padding: 0.5rem;
  display: flex;
  align-items: top;
  justify-content: end;
}

.btn--close-modal {
  /* position: fixed; */
  font-size: 3rem;
  cursor: pointer;
  border: none;
  /* background-color: red; */
}
.modalSection {
  width: 100%;
  padding: 2rem;
}
.modalsectionHeader {
  padding-bottom: 0.5rem;
  text-decoration-line: underline;
}
.modalTitle {
  font-size: 0.9rem;
}
.pLists {
  list-style-position: inside;
}

/* +=====each modal==== */
/* -----FFA----- */

/* -----MPP----- */

/* ----DDI */

/* ---space--- */

.modalOutcome {
  /* width: 100%; */
  /* background-color: #e287c7; */
  margin-bottom: 2rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

::-webkit-scrollbar {
  width: 18px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* width: 18px; */
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.footer {
  height: 40vh;
  width: 100vw;
  background-color: #444;
}
/* ============MEDIA QUERIES================ */
/* ========================================= */
@media (max-width: 768px) {
  /* ============================ */
  .whLeft {
    display: flex;
    justify-content: center;
    /* background-color: #fd424b; */
    width: 100%;
  }
  .whSide {
    background-color: #444;
  }
  /* ======= */

  .wProcess {
    flex-direction: column;
  }
  .smProcess {
    background-color: var(--color-primary-opacity);
    width: 100%;
  }
  .ssProcess {
    /* background-color: blue; */
    height: auto;
    width: 100%;
    align-items: start;
  }
  .wTitle {
    font-size: 1.6em;
    font-weight: 900;
    color: var(--color-primary-2);
  }
  .wpList {
    color: var(--color-primary-darker);
  }

  .navShrink {
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 100;
    position: fixed;
    text-align: center;
    /* display: flex; */
    color: #4444443d;
    /* align-items: top; */
    /* justify-content: flex-start; */
    padding: 1rem;
    margin: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    width: 100vw;
    background-color: var(--color-primary-5);
    z-index: 1;
    animation: drop-in 1200ms ease 500ms backwards;
  }
  .active {
    /* Customize styling for the current section's link */
    /* background-color: var(--color-primary-darker); */
    color: #444;
    font-size: 80%;
    transition: all 0.9s ease-in-out;
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary);
    /* Add any other desired styles like font-weight, border, etc. */
  }
  .trials32 {
    transition: width 0.6s ease-in-out;
    width: 100vw;
  }

  /* ========skills====== */
  .wSkills {
    /* display: flex; */
    flex-direction: column;
    height: 120vh;
  }
  .pfsLeft {
    width: 100%;
    background-color: var(--color-primary-5);
  }
  .pfslMain {
    width: 100%;
    background-color: ;
    height: fit-content;
  }
  .skillHeader {
    background-color: #f5f3f3;
    width: 100%;
    height: max-content;
  }
  .skillFilter {
    font-size: 0.8rem;
    flex-direction: row;
  }
  .gallery-filter .filter-item {
    color: #444;
  }

  .pfsRight {
    width: 100%;
    /* background-color: blueviolet; */
  }
  .pfsrMain {
    /* flex-direction: row; */
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
  }
  .wsCard {
    width: 90%;
    height: 13rem;
    margin: 1.2rem;
    flex-direction: column;
  }
  .wscSide {
    width: 100%;
    writing-mode: horizontal-tb;
    text-orientation: none;
    transform: rotate(0);
    font-size: 1.5rem;

    font-weight: 550;
    /* padding: 0.1rem; */
    font-variation-settings: 'wdth' 35, 'YTFI' 788;
    background-color: #fff;
  }
  .wscMain {
    height: 100%;
    width: 100%;
    /* background-color: #444; */
    align-items: center;
    justify-content: center;
  }
  /* =========projects========= */
  .wProjects {
    height: 200vh;
    flex-direction: column;
  }
  .wpsSide {
    width: 100%;
    align-items: start;
    height: 15%;
    background-color: #fff;
  }
  .wpmMain {
    width: 100%;
    height: 100%;
  }

  .wpmMain {
    /* background-color: #fd424b; */
    width: 100%;
    height: 100%;
  }
  .wpcSection {
    background-color: var(--color-primary-5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* color: var(--color-primary-2); */
    flex-wrap: wrap;
  }
  .wpcTitle {
    font-size: larger;
  }
  .cmInd {
    text-align: left;
    font-size: 0.75rem;
  }
  /* ----------- */

  .whlTitle {
    /* background-color: #fd424b; */
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--color-primary-darker);
  }

  .navscrolinks {
    /* height: 80%;
    width: 90%; */
    /* background-color: #413e3e; */
    /* font-size: 1rem; */
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    /* justify-content: center; */
  }
  .wlBody {
    width: 100%;
    font-size: 1.1rem;
    align-items: start;
    padding: 0 1em 0 1rem;
  }

  .wpCard {
    width: 80%;
    height: 12rem;
  }
  /* ----modal */
  .modal {
    position: fixed;
    top: 5%;
    left: 2%;
    width: 95vw;
    background-color: #f3f3f3;
    /* padding: 5rem 6rem; */
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* transition: all 0.5s; */
    transition: all 0.9s cubic-bezier(0.87, 0, 0.13, 1);
  }
  .modal__header {
    font-size: 90%;
  }
}
@media (max-width: 430px) {
  .wlBody {
    /* background-color: #fd424b; */
    font-size: small;
  }
}
