/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
  --color-primary: #88d4a0;
  --color-primary-2: #4bbb7d;
  --color-primary-3: #0099cc;
  --color-primary-3-opacity: #0099cc48;
  --color-primary-3: #0099cc;
  --color-primary-4: #3358ff;
  --color-primary-5: #f5f5f5;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-compliment: #001fa6;
  --color-primary-darker: #2a6f49;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #cfe2ce, #a1be9f);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  /* ----------------------- */
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all #{$anim-speed}s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 91.8%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1); */
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  /* line-height: 1.9; */
  /* background-color: #10b910; */
  /* background-image: linear-gradient(45deg, #cfe2ce 3%, #ffffff 80%); */
}

/* GENERAL ELEMENTS */
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  text-decoration: none;
  /* list-style: none; */
}
.btn {
  display: inline-block;
  /* background-color: var(--color-primary); */
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  /* padding: 1.25rem 4.5rem; */
  /* border-radius: 10rem; */
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.section {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.heroMain {
  height: 100vh;
  width: 55vw;
  /* display: flex; */
}
.heroSide {
  height: 100vh;
  width: 40vw;
  /* background-color: ; */
}
.heroNavlist {
  list-style: none;
  padding: 0 0 0 0.5em;
  font-size: 5rem;
  line-height: 1;
  font-weight: 550;
  font-variation-settings: 'wdth' 35, 'YTFI' 788;
}
.sectionMain {
  display: flex;
  width: 75vw;
  height: 100vh;
}
.smSide {
  height: 100vh;
  width: 10%;
  /* background-color: #032aff; */
}
.smMain {
  height: 100vh;
  width: 90%;
  /* background-color: var(--color-secondary-opacity); */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.sectionSide {
  display: flex;
  width: 25vw;
  height: 100vh;
}
.ssSide {
  height: 100vh;
  width: 10%;
  /* background-color: white; */
}
.ssMain {
  height: 100vh;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.ssMain h1 {
  font-size: 5em;
  font-weight: 550;
  font-variation-settings: 'wdth' 35, 'YTFI' 788;
  text-decoration-line: underline;
  text-decoration-color: var(--color-secondary-darker);
}
.slider {
  height: 70vh;
  overflow: hidden;
  background-image: url(/img//mppsld.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.sectionTitle {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

p {
  color: #666;
}
.btn {
  /* background-color: #032aff; */
  font-size: larger;
  border: 2px solid var(--color-secondary-darker);
  color: #cfe2ce;
}
/*================HERO SECTION ==========================*/
/* ==================================================== */
.heroLeft {
  display: flex;
  background-image: url(/img/img_3680_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  /* justify-items: space-between; */
  padding: 0 5em 0 5em;
  flex-direction: column;
  transition: width 0.6s ease-in;
}
.heroName {
  font-size: 2.5rem;
  font-family: 'Circular', sans-serif;
  color: #fafcfa;
  animation: drop-in 1200ms ease 500ms backwards;
  /* animation: zoomIn 1200ms; */
}

#fName {
  color: #fafcfa;
  animation: zoomIn 1200ms;
  /* background-color: #001fa6; */
  /* font-family: 'Poppins SemiBold', sans-serif; */
}
.heroRight {
  display: flex;
  align-items: center;
  overflow: hidden;
  /* background-color: #0099cc; */
}
/* .hnOne {
  animation: drop-in 1s ease 200ms backwards;
}
.hnTwo {
  animation: drop-in 1200ms ease 500ms backwards;
} */
/* .heroText {
  {
    border-color: orange;
  }
} */

.mpList {
  color: #808080;
  text-decoration-line: underline;
  text-decoration-color: #ffe499;
  cursor: pointer;
}
.mpList li {
  animation: dissolveInRight 1s ease 200ms;
}
.mpList li :hover {
  color: #444;
  font-size: 105%;
  transition: all 0.2s ease-in-out;
  text-decoration-line: underline;
  text-decoration-color: var(--color-secondary-darker);
}
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes dissolveInRight {
  0% {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*---
  active state
---*/

.mpList li:active:after {
  opacity: 0;
}
#home {
  display: none;
  /* font-size: 3rem; */
  text-decoration-line: none;
  text-decoration-color: none;
}
/* #homes {
  display: none;
  color: red;
} */

/* =======scroll effect======== */
.shrink {
  height: 100vh;
  font-size: 1rem;
  position: fixed;
  /* top: 1em; */
  right: 0;
  width: 10%;
  /* background-color: inherit; */
  /* margin: 2em; */
  z-index: 1;
  animation: drop-in 1000ms ease 500ms backwards;
  text-align: center;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0.5rem; */
}
.heroExpand {
  transition: width 0.6s ease-in-out;
  width: 100vw;
}

#menu-icon {
  display: none;
}

#navscroll.shrink #menu-icon {
  display: block; /* Show icon on shrink */
}

/* ================SLIDERS============================ */
/* =================================================== */
.hmPage {
  /* background-image: url(/img/IMG-20230324-WA0003.jpg); */
  background-color: #001ea667;
}

/*=================ABOUT SECTION =======================*/
/* =================================================== */

.abtLeft {
  background-color: var(--color-primary);
  animation: zoomIn 1200ms;
}
.abtLeft h1 {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}

.socials {
  list-style: none;
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 550;
  font-variation-settings: 'wdth' 35, 'YTFI' 788;
  padding: 0.5em;
}
.socials li {
  display: inline;
  margin: 5px;
}

.abtCont {
  /* background-color: #032aff; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 85%;
  padding: 2.5rem;
  flex-direction: column;
  overflow: hidden;
}
.abtDesc {
  color: #1a1b1a;
  /* width: 80vw; */
  margin: 1em;
  text-align: start;
  /* display: none; */
  animation: zoomIn 1200ms;
}
.abtdescOne {
  font-size: 2rem;
}

.highlight {
  font-size: 1.5rem;
}
.Red {
  background-color: var(--color-tertiary-darker);
}
.Mint {
  background-color: var(--color-primary-2);
}
.Green {
  background-color: var(--color-primary-darker);
  color: #cfe2ce;
}
.Yellow {
  background-color: var(--color-secondary-darker);
}

/* ==================MEDIA QUERIES================= */
/* ================================================= */
/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for medium screens */
  .sectionSide {
    display: flex;
  }
  .heroMain {
    width: 100%;
  }
  .slider {
    height: 50vh;
    overflow: hidden;
    /* background-image: url(/img/mppr.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .ssMain {
    /* width: 100%; */
    /* background-color: #032aff; */
    height: auto;
  }
  .ssSide {
    background-color: #2a6f49;
    display: none;
  }
  .smMain {
    width: 100%;
    flex-direction: column;
  }
  .smSide {
    height: 100vh;
    width: auto;
    /* background-color: #032aff; */
  }
  /* ---------- */
  .shrink {
    height: 4rem;
    /* font-size: small; */
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.87);
    z-index: 1;
    animation: drop-in 1200ms ease 500ms backwards;
  }
  .trials32 {
    transition: width 0.6s ease-in-out;
    width: 100vw;
  }
  #home {
    display: none;
  }
  /* =======HERO PAGE======= */
  /* ====================== */
  .heroSection {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image: url(/img/img_3680_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heroName {
    font-size: 2rem;
    color: #fafcfa;
    font-weight: 100;
  }

  .heroLeft {
    display: flex;
    width: 100%;
    background-image: none;
    align-items: center;
    justify-content: center;
    justify-items: space-between;
    flex-direction: column;
  }
  /* .heroText {
    display: none;
  } */
  .heroRight {
    width: 100%;
    height: 20%;
    padding-top: 2rem;
    font-weight: 100;
    align-items: start;
    justify-content: space-evenly;
  }

  .heroNavlist {
    list-style: none;
    padding: 0 0 0 0.5em;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 550;
    font-variation-settings: 'wdth' 35, 'YTFI' 788;
  }
  .mpList {
    display: flex;
    flex-direction: row;
    color: #cfe2ce;
    font-size: medium;
    text-decoration: none;
    font-weight: 100;
    justify-content: space-evenly;
    width: 100%;
    /* background-color: #4bbb7d; */
  }
  /* .mpList li {
    
    margin: 0.1rem;
    padding: 0.3rem;
  } */

  /* =======ABOUT Section======= */
  /* -========================= */
  .abtCont {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    font-size: small;
    overflow: visible;
  }

  .sectionDesc {
    font-size: small;
    color: #1a1b1a;
    margin: 0;
    text-align: start;
  }
  .socials {
    /* background-color: #1a1b1a; */
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  .section {
    height: 100vh;
    width: 100vw;
    align-items: start;
    justify-content: flex-start;
  }
  .heroRight {
    height: 20%;
    padding-top: 2rem;
    font-weight: 100;
    align-items: start;
    justify-content: space-evenly;
  }
  .heroLeft {
    height: 80%;
    /* background-color: #032aff; */
    padding: 1rem;
  }
  .heroName {
    /* width: 100%; */
    /* padding: 0 2em 0 2em; */
    background-color: #00000034;
  }
  .highlight {
    font-size: 1.2rem;
  }
  .mpList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
